In [1]:
x = (12,23,32)
x

(12, 23, 32)

In [2]:
y = 50,51,52 #the three values were packed in a tuple
y

(50, 51, 52)

In [3]:
a,b,c = 1,4,6
c

6

In [4]:
x[0]

12

In [5]:
list_1 = [x,y]
list_1

[(12, 23, 32), (50, 51, 52)]

In [6]:
(age,years_of_school) = "30,17".split(',')
print(age)
print(years_of_school)

30
17

In [8]:
def square_info(x):
    A = x**2
    P = 4*x
    print("Area and Perimeter:")
    return A,P
square_info(3)

Area and Perimeter:

(9, 12)